#app-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

#note-display {
  height: 200px;
  width: 200px;
  font-size: 100px;
  border: 2px solid black;
  line-height: 200px;
}

#start-button-container {
  display: flex;
  justify-content: center;
  width: 200px;
}
#start-button {
  margin-top: 25px;
  border-radius: 5;
  height: 25px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
